
<% content_for :hero_key do %>
  <chunk of="html">
    <div class="hero-about">
      <h1>ABOUT ME</h1>
      <h3> Failed Blogger turned Developer</h3>
      <!-- //funny font -->
    </div>
  </chunk>
<% end %>

<% content_for :main_key do %>
  <chunk of="html">
    <section class="about-main">
      <div class="wrap row small-up-1 medium-up-2">

        <div class="column">
          <h4>I'm Chris Del</h4>
          <hr>
          <p>
            I'm a full-stack developer.
          </p>
          </p>
          <p>I build JavaScript and Ruby apps.</p>
          <p>I working on my React and Angular 1 skills</p>
          <p>I made this website using Sinatra, Foundation and Handlebars.</p>
        </div>

        <div class="column">
          <h4>What I work with</h4>
          <hr>
          <ul>
            <li>
              My main tools- JavaScript and Ruby.
              <!-- out on it's own? -->
            </li>
            <li>
              I'm working on my Angular 1 and React skills.
            </li>
            <li>
              Light-weight sites with Sinatra or more robust apps with Ruby on Rails.
            </li>
            <li>
              Bootstrap and Foundation. Working on my Sass.
            </li>
            <li>
              Some experince working with Grunt, Gulp, WebPack.
            </li>
            <li>
              Abilty to run basic Node server
            </li>
          </ul>
        </div>

    </section>
    </div>
  </chunk>
<% end %>
