
<% content_for :hero_key do %>
  <chunk of="html">

    <div class="wrap hero-about">
      <div class="row small-up-1 medium-up-2">
        <h1>Hi. I'm Chris</h1>
        <h3>Musician/Writer turned Developer.</h3>
        <h5>
          <p>
              I'm a new Full-Stack developer.
          </p>
          <p>
            I can build web apps using JavaScript and Ruby.
            I can also build you a website using a framework like Wix or WordPress.
          </p>
          <p>
            I made this website using Sinatra, Foundation and Handlebars.
          </p>
        </h5>
      <div class="row small-up-1 medium-up-1">
        <div class="column">

        <a href='/work'class="button">My Projects</a>
      <hr />
        <p id="are-you-hiring">
          <strong>Are you Hiring  ? Hit me up!</strong></br>
          I am on an ardent search for a new job, so checkout my resume, my work, and get in touch!
        </p>
        </div>
      </div>

      <!-- //funny font -->
    </div>
  </div>
  </chunk>
<% end %>


<% content_for :main_key do %>
  <chunk of="html">
    <section class="main-about">

      <div class="wrap row small-up-1 medium-up-2">
          <div class="column">

          <h4>My Tools- JavaScript and Ruby</h4>
          <h5>Top Skills</h5>

          <p><strong>Node <br />
            React <br />
            JavaScript</strong></p>

          <h5>Back End</h5>
        <ul>
          <strong>FrameWorks and Servers</strong>
            <li>
          Sinatra- For lighter-weight Ruby sites.
          </li>
            <li>
          Express- For Node servers.
          </li>
          <li>
          Ruby on Rails- For robust Ruby projects.
          </li>
          <li>
          Koa, Sails and Meteor novice.
          </li>
            <strong>Databases</strong>
            <li>
              RDBMS- Strong data modelling skills; Entity Relationship Diagrams (ERD).
            </li>
            <li>
              SQL- Read and write- selecting, inserting, quering, joining & more.
            </li>
          <li>
             SQlite, PostgreSQL, MySQL, and Oracle Developer.
          </li>
          <strong>API</strong>
          <li>
            Outputing HTML, plain text, CSV, and JSON using either ruby API, or Node API.
          </li>
        </ul>
          <h5>Front End</h5>
          <ul>

          <strong>FrameWorks</strong>
          <li>
            Zurb Foundation- For responsive design HTML/CSS
          </li>
          <li>
            Bootstrap- For responsive design HTML/CSS
          </li>
          <li>
            React- For complex UI.
          </li>
          <li>
            Basic Angular 1- For templating from API JSON or other data source.
          </li>
          <li>
            Yeoman generators for for faster MEAN and MERN builds.
          </li>
          <strong>Templating Engines</strong>
          <li>
            Handlebars, Mustache and JQ template
          </li>
        </ul>
            <h5>Other Stuff</h5>
          <ul>
            <strong>Build Tools and ES2015</strong>
            <li>
            NPM, Yarn and HomeBrew for package managers.
          </li>
          <li>
            Build pack skills using Grunt, Gulp, WebPack as well as MongoDB.
          </li>
          <li>
          Python Begninner.
          </li>
          <li>
           Sass Beginner.
          </li>
          <li>
           Some experience with R and data processing.
          </li>
        </ul>

        </div>


        <div class="column" id="about-photo">


          <img src="/img/places/alex-shutin-228917.jpg" />
          <img src="/img/places/andrew-gook-180726.jpg" />
          <img src="/img/places/marius-masalar-138931.jpg" />


          <!-- <div class="other-blog-text">
            <div id="mozart-box">
              <h3>Want More?</h3>
              <h4>Visit one of my blogs</h4>

              <img id="motzart-photo" src="img/me/Wolfgang_Amadeus_Mozart_Wallpaper_JxHy.jpg" />
                <h6>I also wrote this SUPER obsure film blog. Check out my totally unknown, and greatest, work.  </h6>
                <a href="/blog2" class="button">Other Blogs</a>
            </div>

          </div> <!-- other-blog-text -->


        </div>

      </div>
    </section>
  </chunk>
<% end %>
