
<% content_for :hero_key do %>
  <chunk of="html">

      <h1>About Me</h1>
      <h3> Adventures in code and more</h3> 

  </chunk>
<% end %>

<% content_for :main_key do %>
  <chunk of="html">
    <section class="main">
      <div class="wrap row small-up-1 medium-up-2">

        <div class="column">
          <h2>Main Section</h2>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
        </div>

        <div class="column">
          <h2>2nd Main Section</h2>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud</p>
        </div>

    </section>
    </div>
  </chunk>
<% end %>
