
<% content_for :hero_key do %>
  <chunk of="html">

    <div class="wrap hero-about">
      <h1>Hi. I'm Chris</h1>
      <h3>Musician/Writer turned Developer</h3>
      <h5>
        <p>
    I'm a new Full-Stack developer.
      </p>
      <p>
      I can build web apps using JavaScript and Ruby.
    </p>
      <p>
        I made this website using Sinatra, Foundation and Handlebars.
      </p>
      <a href='/work'class="button" style="float:none">My Projects</a>
      </h5>


      <!-- //funny font -->
    </div>
  </chunk>
<% end %>

<% content_for :main_key do %>
  <chunk of="html">
    <section class="main-about">

      <div class="wrap row small-up-1 medium-up-2">
          <div class="column">
          <h4>My Tools- JavaScript and Ruby</h4>
          <h5>Back End</h5>
        <ul>
          <strong>FrameWorks</strong>
            <li>
          Sinatra- For lighter-weight sites.
          </li>
        <li>
          Ruby on Rails- For robust projects.
          </li>
            <strong>Databases</strong>
            <li>
              RDBMS- Strong data modelling skills; Entity Relationship Diagrams(ERD).
            </li>
            <li>
              SQL- Read and write at basic level; selecting, inserting, quering, joining & more.
            </li>
          <li>
             SQlite, PostgreSQL, MySQL, and Oracle Developer.
          </li>
          <strong>API</strong>
          <li>
            Outputing HTML, plain text, CSV, and JSON with ruby API.
          </li>
        </ul>
          <h5>Front End</h5>
          <ul>

          <strong>FrameWorks</strong>
          <li>
            Zurb Foundation; download and using CLI; Used for responsive design.
          </li>
          <li>
            Basic Angular 1; templating API JSON data.
          </li>
          <li>
            BootStrap classes- Experience with most popular classes; Used for responsive design.
          </li>
          <li>
            Handlebars, Mustache and JQ template- JS templating engines.
          </li>
            <h5>Other Stuff</h5>
            <li>
            React Begninner.
          </li>
          <li>
          Python Begninner.
          </li>
          <li>
           Sass Beginner.
          </li>
          <li>
          Build pack skills using Grunt, Gulp, WebPack as well as MongoDB.
          </li>
        </ul>

        </div>
<!-- FROM INDEX -->
        <!-- <p>I am a full-stack developer.</br>
          I write code for the server and for the cleint.</br>
          My main tools are Rails, Foundation and Jquey.</br>
          But I have other tricks up my sleeve.</br>  </p> -->

        <div class="column">
          <div style=
          "border:solid">

          <img src="/img/me/me.jpg" />

        </div>
        </div>

      </div>
    </section>
  </chunk>
<% end %>
