<% content_for :hero_key do %>
  <chunk of="html">

    <section class="hero-blog">
    <div class="wrap row small-up-1 medium-up-2">
      <div class="column">

      <h1>BLOGS</h1>
      <h4>I went to a coding bootcamp and wrote about it. </br>
          Read it all below.</h4>
          <hr/> 
      </div>

<!-- COMMENT OUT UNTIL FIXED -->
      <!-- <div class="column other-blog-text" id="mozart-box">
        <h6>Know who this is? </br>Hint: He wrote <i>The Magic Flute</i> and  <i> Cosi Fan Tutte</i>.</h6>
        <img src="img/me/Wolfgang_Amadeus_Mozart_Wallpaper_JxHy.jpg" />
        <h6>Totally unknown, he also wrote wrote a film blog under a false name that has been withering away in obscurity. </br>
          Check it out</h6>
      <a href="/blog2" class="button">Other Blogs</a>

    </div> -->
  </div>


  </section>


  </chunk>
<% end %>


<% content_for :main_key do %>
  <chunk of="html">
    <section class="main-blog">
      <!-- <div class="wrap row small-up-1 medium-up-2 large-up-3"> -->

      <div class="wrap">

      <div class="row small-9 medium-9 large-9 columns" id="code-blog-details">

        <script id="code-blog-template" type="text/x-handlebars-template">


      </div>
          <a href="<%= $my_blog %>"><h2>Should I go to Code School</h2>
          <h4>
          The coding bootcamp experience at Bitmaker.
        </h4>
          <p>
            Thinking of going to a coding bootcamp? I went, and wrote about it. It's not all it claims to be...
          </p>
        </a>
          {{#each code_posts}}
              <dl>
                <dd>
                <a href="{{url}}"><img src="img/blog_pics/{{image}}.jpg" alt={{title}} />
                </dd>

                <dt>Title</dt>
                <dd>{{title}}</dd>

                <dt>Description</dt>
                <dd>{{description}}</dd>

                <!-- <dt>Url</dt>
                <dd>{{url}}</dd> -->
              </a>
              </dl>

                <!-- <div>
                  <h6>Title</h6>
                  <p>{{title}}</p>
                  <h6>Desc</h6>
                  <p>{{description}}</p>
                  <h6>URL</h6>
                  <p>{{url}}</p>
                </div> -->

                {{/each}}
          </script>
      </div>
    </div>




      </div>
    </section>
  </chunk>
<% end %>
