
<% content_for :hero_key do %>
  <chunk of="html">
    <div class="wrap hero-blog2">
      <h1>OTHER BLOGS</h1>
      <h4>Wirings about Films and Randomness </h4>


    </div>
  </chunk>
<% end %>


<% content_for :main_key do %>
  <chunk of="html">
    <section class="main-blog2">
      <div class="wrap row small-up-1 medium-up-2">

        <div class="column" id="film-blog-details">
            <script id="film-blog-template" type="text/x-handlebars-template">
              <div class="film-blog-header">
          <h3 style="font-family:normal;color:#666666">The Separator</h3>
          <h5>A Blog About Film </h5>
          <p>
            A few pics from my writings about film.
          </p>
        </div>
            {{#each film_posts}}
              <dl>
                <dt>Event</dt>
                <dd>{{event}}</dd>

                <dt>Description</dt>
                <dd>{{description}}</dd>

                <dt>Films</dt>
                {{#each films}}
                <dd>{{this}}</dd>
                {{/each}}

              </dl>
              {{/each}}
            </script>
        </div>

        <div class="column" id="nothing-blog-details">
            <script id="nothing-blog-template" type="text/x-handlebars-template">
              <div class="nothing-blog-header">

          <h4>Hi, I'm supposedly a writer</h4>
          <h5>Stories, Reviews and Rants </h5>
          <p>
            I lived in New York and wrote about whatever I felt like.
          </p>
        </div>
          {{#each nothing_posts}}
              <dl>
                <dt>Title</dt>
                <dd>{{event}}</dd>

                <dt>Description</dt>
                <dd>{{description}}</dd>

                <dt>Url</dt>
                <dd>{{url}}</dd>
              </dl>
              {{/each}}
            </script>
        </div>
      </div>
</section>
</chunk>
<% end %>
