<% content_for :hero_key do %>
  <chunk of="html">
    <div class="hero-blog">


      <h1>Blogs: Past and Present</h1>
      <h4>My recent blog outlines the experience of attending a coding bootcamp</h4>

      </div>
  </chunk>
<% end %>


<% content_for :main_key do %>
  <chunk of="html">
    <section class="blog-main" id="blog-details">
      <div class="wrap row small-up-1 medium-up-2">

        <div class="column">
      <script id="blog-template" type="text/x-handlebars-template">
        {{#each posts}}
            <dl>
              <dt>Title</dt>
              <dd>{{title}}</dd>

              <dt>Description</dt>
              <dd>{{description}}</dd>

              <dt>Url</dt>
              <dd>{{url}}</dd>
            </dl>
            {{/each}}

        </div>
        </script>
        </div>

        <div class="column">
          <h2>2nd Main Section</h2>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud</p>
        </div>

    </section>
    </div>
  </chunk>
<% end %>
