<% content_for :hero_key do %>
  <chunk of="html">
    <div class="hero-blog">


      <h1>Blogs: Past and Present</h1>
      <h4>My recent blog outlines the experience of attending a coding bootcamp</h4>
        
      </div>
  </chunk>
<% end %>
