
  <% content_for :hero_key do %>

    <chunk of="html">
      <div class="wrap hero-contact">

      <h1>Conact Me</h1>
      <h5>
        Hit me up anytime, for any reason.

        And if you see a problem with my site please let me know!
      </h5>
      
    </div>
    </chunk>
  <% end %>

  <% content_for :main_key do %>

    <chunk of="html">
      <div class="wrap">

      <section class="main-contact">

      <p>
        Amet dolore enim ad cupidatat non ea reprehenderit amet nostrud nulla et cillum laborum aute. Magna est nisi pariatur eiusmod irure laborum Lorem quis officia pariatur labore reprehenderit commodo elit. Ut Lorem non ut tempor ipsum laborum ipsum aliquip id aliqua.
      </p>

      <p>
          Amet dolore enim ad cupidatat non ea reprehenderit amet nostrud nulla et cillum laborum aute. Magna est nisi pariatur eiusmod irure laborum Lorem quis officia pariatur labore reprehenderit commodo elit. Ut Lorem non ut tempor ipsum laborum ipsum aliquip id aliqua.
        </p>

      </section>
    </div>
    </chunk>
  <% end %>
