<% content_for :contact1_key do %>

  <chunk of="html">
    <p>Amet dolore enim ad cupidatat non ea reprehenderit amet nostrud nulla et cillum laborum aute. Magna est nisi pariatur eiusmod irure laborum Lorem quis officia pariatur labore reprehenderit commodo elit. Ut Lorem non ut tempor ipsum laborum ipsum aliquip id aliqua.
    </p>

  </chunk>
  <% end %>

  <% content_for :contact2_key do %>

    <chunk of="html">
      <p>Amet dolore enim ad cupidatat non ea reprehenderit amet nostrud nulla et cillum laborum aute. Magna est nisi pariatur eiusmod irure laborum Lorem quis officia pariatur labore reprehenderit commodo elit. Ut Lorem non ut tempor ipsum laborum ipsum aliquip id aliqua.
      </p>

      <chunk of="html">
        <p>Amet dolore enim ad cupidatat non ea reprehenderit amet nostrud nulla et cillum laborum aute. Magna est nisi pariatur eiusmod irure laborum Lorem quis officia pariatur labore reprehenderit commodo elit. Ut Lorem non ut tempor ipsum laborum ipsum aliquip id aliqua.
        </p>

    </chunk>
    <% end %>
