
  <% content_for :hero_key do %>
    <chunk of="html">

      <div class="hero-index">
        
        <h1>Full-Stack Web Developer</h1>
        <h3>Ruby, JavaScript and CSS</h3>
        <a href='/work' class="button ">My Projects</a>
        <a href='/code' class="button">My Code(No Link)</a>

        <p class="show-for-small-only">

        <a href='/work'class="button small">My Projects</a>
        <a href='/code'class="button small">My Code(No Link)</a>
      </p>

      </div>

    </chunk>
  <% end %>

  <% #content_for :main_key do %>

  <chunk of="html">
    <section class="index-main">
      <div class="wrap row small-up-1 medium-up-2">

        <div class="column">



      </div>
  </section>
</chunk>
  <% #end %>
