
  <% content_for :hero_key do %>
    <chunk of="html">

      <div class="hero-index">

        <h1>Full-Stack Web Developer</h1>
        <h3>Ruby, JavaScript and CSS</h3>
        </div>
      </div>
    </chunk>
  <% end %>

  <% content_for :main_key do %>

    <chunk of="html">
      <section class="index-main">
        <div class="wrap row small-up-1 medium-up-2">

          <div class="column">
            <h2>Main Section</h2>
            <hr>
            <p>I am a full-stack developer.</br>
              I write code for the server and for the cleint.</br>
              My main tools are Rails, Foundation and Jquey.</br>
              But I have other tricks up my sleeve.</br>  </p>
            <a href='/work' class="button">My Projects</a>
            <a href='/code' class="button">My Code(No Link)</a>
          </div>


    </div>
  </section>
</chunk>
  <% end %>
