
  <% content_for :hero_key do %>
    <chunk of="html">
    <section class="hero">
      <div class="wrap">
        <div class="hero-content">
        <h1>Welcome to Foundation</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a href='/about' class="button">Learn More</a>
          <a href='/contact' class="button">Contact Me</a>
        </div>
      </div>
    </section>
    </chunk>
  <% end %>

  <% content_for :main_key do %>
    <chunk of="html">
      <section class="main">
        <div class="wrap row small-up-1 medium-up-2">

          <div class="column">
            <h2>Main Section</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
          </div>

          <div class="column">
            <h2>2nd Main Section</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud</p>
          </div>

      </section>
      </div>
    </chunk>
  <% end %>
