
  <% content_for :hero_key do %>
    <chunk of="html">

      <div id="hero-index" onload="indexChange();">

        <h1>Full-Stack Web Developer</h1>
        <h3>Ruby, JavaScript and CSS</h3>

        </div>
      </div>
    </chunk>
  <% end %>

  <% content_for :main_key do %>
    <div id="main-index">

    </div>
  <% end %>
