<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="css/mystyles.css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body class="index-body">
        <div class="hero-index">
            <p class="show-for-medium-up">
                <h1>Web Developer</h1>
                <h3>JavaScript: React, Vue and Node</h3>
        </div>
        <div class="main-index">

        </div>

    </body>
</html> -->

<% content_for :hero_key do %>

  <chunk of="html">
      <div class="hero hero-index">
              <div class="show-for-medium-up">
                  <h1>Web Developer</h1>
                  <h3>JavaScript: React, Vue and Node</h3>
             </div>

      </div>
  </chunk>
<% end %>
<% content_for :main_key do %>

  <chunk of="html">
      <div class="main main-index">
          <div class="top-skills">
              <div class="top-skills-text-header">
                  <h2>Top Skills</h2>
                  <h5>I've build numerous apps using all of the following technoologies. Click to see examples.</h5>
              </div>
              <div class="icons">
                  <div class="row">
                      <div class="icon small-6 large-6 columns columns">
                          <img src="/img/icons/node-black.png" alt="nodejs icon">
                      </div>
                      <div class="icon small-6 large-6 columns columns">
                          <img src="/img/icons/react.png" alt="reactjs icon">
                      </div>
                  </div>
                  <div class="row">
                      <div class="icon small-6 large-6 columns">
                          <img src="/img/icons/vue-black.png" alt="vuejs icon">
                      </div>
                      <div class="icon small-6 large-6 columns columns">
                          <img src="/img/icons/js-black.png" alt="js icon  ">
                      </div>
                  </div>
              </div>
          </div>
          <div class="secondary-skills">
              <div class="secondary-skills-text-header">
                  <h2>Secondary Skills</h2>
                  <h5>I've used all of following to built one or more projects. Click for examples.</h5>
              </div>
              <div class="icons">
                  <div class="row">
                      <div class="icon small-6 large-6 columns columns">
                          <img src="/img/icons/python-black.png" alt="nodejs icon">
                      </div>
                      <div class="icon small-6 large-6 columns columns">
                          <img src="/img/icons/ruby-black.png" alt="reactjs icon">
                      </div>
                  </div>
                  <div class="row">
                      <div class="icon small-6 large-6 columns">
                          <img src="/img/icons/express-black.png" alt="vuejs icon">
                      </div>
                      <div class="icon small-6 large-6 columns">
                          <img src="/img/icons/flask-white.png" alt="js icon">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </chunk>
<% end %>
