
  <% content_for :hero_key do %>
    <chunk of="html">

      <div class="hero-index">
        <script src="js/index.js">
        // window.onload=
        //
        // function loader(){
        //
        //   document.getElementsByClassName('.hero').style.background =
        // }
        </script>



        <h1>Full-Stack Web Developer</h1>
        <h3>Ruby, JavaScript and CSS</h3>

        </div>
      </div>
    </chunk>
  <% end %>

  <% content_for :main_key do %>
    <chunk of="html">
      <section class="index-main">
        <div class="wrap row small-up-1 medium-up-2">

          <div class="column">


          </div>

          <div class="column">

          </div>

      </section>
      </div>
    </chunk>
  <% end %>
