<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="css/mystyles.css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body class="index-body">
        <div class="hero-index">
            <p class="show-for-medium-up">
                <h1>Web Developer</h1>
                <h3>JavaScript: React, Vue and Node</h3>
        </div>
        <div class="main-index">

        </div>

    </body>
</html> -->

<% content_for :hero_key do %>

  <chunk of="html">
      <div class="hero hero-index">
              <p class="show-for-medium-up">
                  <h1>Web Developer</h1>
                  <h3>JavaScript: React, Vue and Node</h3>
              <div class="main-index">

              </div>

      </div>
  </chunk>
<% end %>
