
  <% content_for :hero_key do %>
    <chunk of="html">

      <div class="hero-index">

        <p class="show-for-medium-up">
        <h1>Full-Stack Web Developer</h1>
        <h3>JavaScript and Ruby</h3>
        <a href='/work' class="button ">My Projects</a>
        <!-- <a href='/code' class="button">My Code(No Link)</a> -->
      </p>


      <!-- BUTTONS ONLY NEEDED IF OTHERS ERROR-OUT -->
        <!-- <p class="show-for-small-only">

        <a href='/work'class="button small">My Projects</a>
        <a href='/code'class="button small">My Code(No Link)</a>
      </p> -->

      </div>

    </chunk>
  <% end %>

  <% #content_for :main_key do %>

  <!-- <chunk of="html">

    </chunk> -->
  <% #end %>
