
  <% content_for :hero_key do %>
    <chunk of="html">

      <div class="wrap hero-resume">

        <h1>MY RESUME</h1>
        <h3>A Rundown of my Professional Experience and Education.</h3>
        <hr />
      </div>

    </chunk>
  <% end %>

  <% content_for :main_key do %>

  <chunk of="html">
    <section class="wrap main-resume">

      <div class="inpage-resume">
        <div class="row">
          <div class="small-12 large-12 columns">

                <div id="resume-head">
            					<h1>Chris Del</h1>
            					<h2>Web Developer & Writer</h2>

            		      <h6>
                        <a id="resume-pdf" href="img/resume/chris_del_Resume(4)-4.pdf" download >Download PDF</a>
                      </h6>
            						<h4>
                          <a id="resume-email" href="mailto:<%= $my_email %>"><span><%= $my_email %> </span></a>
                        </h4>

            						<h4>
                          <a id="resume-phone" href= "tel:<%= $my_phone %>"><span><%= $my_phone %></span>
                          </a>
                        </h3>

                  </div><!--resume-head -->
            </div> <!--column -->
          </div> <!--row -->

      <div class=resume-content>
        <div class="row">
          <div class="small-12 large-12 columns">

                  <div id="goal">
            				<h2>My Goal</h2>
                    <h3>To spend my days writing code</h3>
                      <p>

                        I love writing code, building apps, and learning new technologies but my main focus is JavaScript. I am ardently seeking a junior developer role that will help me become the best developer possible.
                      </p>
                      <p>
                        Eventually I intend to use my technology skills to help alleviate global problems around unemployment, food wastage, and water.
        							</p>
                  </div> <!-- goal -->
                </div> <!--column -->
            </div> <!--row -->

            <div class="row">
              <div class="small-12 medium-6 large-8 columns">
                <h3>Top Skills</h3>
        				<dl id="skills">
                      <dt>
                        JavaScript
                      </dt>
                      <dd>
                        <i>React</i>
                      </dd>
                          <dd>
                          <i>Node</i>
                          </dd>
                      <dt>
                        Ruby
                      </dt>
                      <dd>
                        <i>Sinatra</i>
                      </dd>
                      <dd>
                        <i>Rails</i>
                      </dd>
                      <dd>
                        <i>PosgreSQL</i>
                      </dd>



                </dl> <!-- skills -->
              </div> <!--column -->
            </div> <!--row -->

            <div class="row">
              <div class="small-12 large-12 columns">
            	<div id="professional-experience">
    				<h3>Experience</h3>

                    <div class="job">
                        <h4>
                            InkSPIRE <i>Toronto</i>
                        </h4>
                        <h5>
                            Front-End Developer - Engineering
                            <h5>
                                <h5>
                                    Current Position
                                </h5>
                                <ul>
                                    <li>Implement new website features and fix existing bugs using Angular 1 and JavaScript.
                                    </li>
                                    <li>Work closely with the UX Team and report to the company co-founder.
                                    </li>
                                </ul>
                    </div> <!-- job -->
                            <div class="job">
                                <h4>
                                    Penguin Random House <i>NYC</i>
                                </h4>
                                <h5>
                                    Data Entry - Contracts Department
                                    <h5>
                                        <h5>
                                            2015-2015
                                        </h5>
                                        <ul>
                                            <li>Data processing duties using Excelto integrate with company database.</li>
                                            <li>Project team was successful in digitizing contract archive, totalling over 100,000 entries, spanning more than 140 years.</li>
                                        </ul>

                                    </div><!-- job -->


                                    <div class="job">
                                        <h4>
                                            Asite Solution Limited <i>NYC</i>
                                        </h4>
                                        <h5>
                                            Technical Writing- Communications & Marketing
                                        </h5>
                                        <h5>
                                            2014-2015
                                        </h5>
                                        <ul>

                                            <li>Generated content which transformed complex ideas into simple technical language.</li>
                                            <li> My content made sales pitches clearer and led to an increase in sales.</li>
                                        </ul>

                                    </div>

                                    <div class="job">
                                        <h4>Baruch College <i>NYC</i></h4>
                                        <h5>
                                            Office Assistant/Technical Writer - Student Affairs
                                        </h5>
                                        <h5>
                                            2012-2015
                                        </h5>
                                        <ul>

                                        <li>Managed database tracking for all student conduct, health, and safety concerns.</li>
                                        <li>Accessed multiple tables in DBMS using PrimaryKey, ForeignKey, and Constraints.</li>
                                        <li>Increased student support and lowered incident rate for entire student body.</li>
                                        <li>Created technical training manual that is currently being used for all staff training.</li>
                                        </ul>

                                </div>
                                <div class="job last">
                                    <h4>
                                        Celebrity Cruises <i>International</i>
                                    </h4>
                                    <h5>
                                        Orchestra Musician - Entertainment
                                    </h5>
                                    <h5>
                                        2005-2010
                                    </h5>
                                    <ul>

                                        <li>As a professional musician I was part of an onboard musical ac responsible of providing musical entertainment.</li>
                                        <li>Succeeded in achieving the highest entertainment rating in the fleet.</li>
                                        <li>Traveled to a total of 57 countries, on all seven continents.</li>

                                    </ul>
                                </div>

                </div><!--// professional-experience -->
              </div> <!--column -->
            </div> <!--row -->




          <div class="row">
            <div class="small-12 large-12 columns">
            				<div id="education">
                        <h3>Education</h2>
            						<div class="school">

            							<h4><strong>Bitmaker</strong> <i>Toronto</i></h4>
                          <h5>
                            Grad 2016
                          </h5>
            							<h5>Web Development Immersive – Full-time
                          </h5>

                        </div><!-- school -->

                        <div class="school">

            							<h4><strong>City College of New York </strong><i>NYC</i></h4>
                          <h5>
                            Grad 2014
                          </h5>
            							<h5>
                            Master of Fine Arts – Writing
                          </h5>

                        </div><!-- school -->

                        <div class="school">

            							<h4><strong>City College of New York </strong><i>NYC</i></h4>
                          <h5>
                            Grad 2012
                          </h5>
            							<h5>
                            Bachelor of Arts – English Literature
                          </h5>

                        </div><!-- school -->

            					</div><!-- education -->
                    </div> <!--column -->
                  </div> <!--row -->



            		</div><!-- resume-content -->

            	</div><!--inpage-resume -->
          </div> <!-- column-class -->
        </div><!-- row -->





  </section>
</chunk>
  <% end %>
