<% content_for :hero_key do %>
  <chunk of="html">
    <div class="wrap hero-work">
      

      <h1>MY WORK</h1>
      <h3>My projects range from web apps to terminal scripts</h3>

    </div>
  </chunk>
<% end %>

<% content_for :main_key do %>
  <chunk of="html">
    <section class="main-work ">

      <div class="wrap row small-up-1 medium-up-2">
<!-- "images/{{item.shortname}}_tn.jpg" ? -->
        <div class="column" id="work-details">
          <script id="work-template" type="text/x-handlebars-template">
            {{#each works}}
                <dl>
                  <dd>
                  <a href="{{url}}"><img src="img/projects/{{image}}.png" alt={{name}} />
                </a>
                  </dd>

                  <dt>Name:</dt>
                  <dd>{{name}}</dd>

                  <dt>Type:</dt>
                  <dd>{{type}}</dd>

                  <dt>Description:</dt>
                  <dd>{{description}}</dd>

                  <dt>Features:</dt>
                  <dd>{{features}}</dd>

                  <dt>GitHub:</dt>
                  <a href="{{github}}"><dd>{{github}}</dd></a>

                  <dt>Url</dt>
                <a href="{{url}}"><dd>{{url}}</dd></a>
                </dl>
                {{/each}}

            </script>
          </div>

            <div class="column">
              <h2>Check Me Out</h2>
              <!-- funny font -->
              <hr>
              <p>
                Scroll up. Scroll down. If there's an image click on it. Want to see the code? Click on the Github link.</br>
                My portfolio isn't huge, but I'm working on that.
              </p>
            </div>

      </div>

    </section>
  </chunk>
<% end %>
