<% content_for :hero_key do %>
  <chunk of="html">
    <div class="hero-work">

      <h1>MY WORK</h1>
      <h3>My projects range from web apps to terminal scripts</h3>

    </div>
  </chunk>
<% end %>

<% content_for :main_key do %>
  <chunk of="html">
    <section class="main-work ">

      <div class="wrap row small-up-1 medium-up-2">
<!-- "images/{{item.shortname}}_tn.jpg" ? -->
        <div class="column" id="work-details">
          <script id="work-template" type="text/x-handlebars-template">
            {{!#each works}}
            <img src="img/icons/{{image}}.png" />
                <dl>
                  <dt>Name:</dt>
                  <dd>{{name}}</dd>

                  <dt>Type:</dt>
                  <dd>{{type}}</dd>

                  <dt>Description:</dt>
                  <dd>{{description}}</dd>

                  <dt>Features:</dt>
                  <dd>{{features}}</dd>

                  <dt>GitHub:</dt>
                  <dd>{{github}}</dd>

                  <dt>Url</dt>
                  <dd>{{url}}</dd>
                </dl>
                {{!/each}}

            </script>
          </div>

          <div class="column">
            <h2>2nd Main Section</h2>
            <hr>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud
            </p>
          </div>

      </div>

    </section>
  </chunk>
<% end %>
