<% content_for :hero_key do %>
  <chunk of="html">
    <div class="wrap hero-work">


      <h1>MY WORK</h1>
      <h3>Projects and Apps</h3>
        <p>

        </p>
        <hr />

    </div>
  </chunk>
<% end %>

<% content_for :main_key do %>
  <chunk of="html">
    <section class="main-work">

       <!-- <div class="wrap row small-up-1 medium-up-2">

        <div class="column" id="work-details">
          <script id="work-template" type="text/x-handlebars-template">
            {{#each works}}
                  <div class=project-image-container>



                      <a href="{{url}}"><img src="img/projects/{{image}}.png" alt={{name}} />
                    </a>

                  </div>

                  <div class=project-info-container>


                    <dd class="project-title">{{name}}</dd>


                    <dd class="project-type">{{type}}</dd>


                    <dd class="project-description">{{description}}</dd>


                    <dd class="project-features">{{features}}</dd>

                    <a href="{{github}}">
                      <dt class="button project-github-button">GitHub</dt>
                    </a>

                    <a href="{{url}}">
                      <dt class="button project-url-button">Url</dt>
                    </a>
                  </div>
                {{/each}}

            </script>
          </div>

      </div> <!-wrap -->

    <div class="wrap">


        <div id="work-details">
        <script id="work-template" type="text/x-handlebars-template">
          <div class="row small-up-1 medium-up-3">
          {{#each works}}
          <div class="column work-card">

            <div class=project-image-container>

              <a href="{{url}}"><img src="img/projects/{{image}}.png" alt={{name}} />
              </a>

            </div> <!-- image-container -->

                <div class=project-info-container>


                  <dd class="project-title">{{name}}</dd>


                  <dd class="project-type">{{type}}</dd>


                  <dd class="project-description">{{description}}</dd>


                  <dd class="project-features">{{features}}</dd>

                  <a href="{{github}}">
                    <dt class="button project-github-button">GitHub</dt>
                  </a>

                  <a href="{{url}}">
                    <dt class="button project-url-button">Url</dt>
                  </a>
                </div> <!-- wrap-->


              </div> <!--column-->
                {{/each}}
              </div> <!--row + grid -->
                </script>
            </div>  <!--work-details-->


  </div> <!--wrap-->
    </section>
  </chunk>
<% end %>
