<% content_for :hero_key do %>
  <chunk of="html">
    <div class="hero-work">
        <div class="wrap">
            <div class="show-for-medium-up">
                <h1>My Work</h1>
                <h3>JavaScript: React, Vue and Node</h3>
            </div>
            <button type="button" class="button large">View Portfolio
                <br />
                <i class="fa fa-angle-down"></i>
            </button>
        </div>


    </div>
  </chunk>
<% end %>

<% content_for :main_key do %>
  <chunk of="html">
    <section class="main-work">

    <div class="wrap">
        <h2>
        Filter here
        </h2>
        <div id="work-details">
        <script id="work-template" type="text/x-handlebars-template">
          <div class="row small-up-1 medium-up-3">
          {{#each works}}
          <div class="column work-card">

            <div class=project-image-container>

              <a href="{{url}}"><img src="img/projects/{{image}}.png" alt={{name}} />
              </a>

            </div> <!-- image-container -->

                <div class="project-info-container">

                    <div class="project-info">
                      <dd class="project-title">{{name}}</dd>


                      <dd class="project-type">{{type}}</dd>


                      <dd class="project-description">{{description}}</dd>


                      <dd class="project-features">{{features}}</dd>
                    </div> <!-- project info -->
                {{#if github}}
                  <a href="{{github}}">
                    <dt class="button work-button">GitHub</dt>
                  </a>
                 {{/if}}
                  <a href="{{url}}">
                    <dt class="button work-button">Url</dt>
                  </a>
                </div> <!-- wrap-->


              </div> <!--column-->
                {{/each}}
              </div> <!--row + grid -->
                </script>
            </div>  <!--work-details-->


  </div> <!--wrap-->
    </section>
  </chunk>
<% end %>
