<% content_for :hero_key do %>
  <chunk of="html">

      <h1>A list rundown of my work</h1>
      <h3>My projects range from web apps to terminal scripts</h3>

  </chunk>
<% end %>

<% content_for :main_key do %>
  <chunk of="html">
    <section class="work-main" id="work-details">
      <div class="wrap row small-up-1 medium-up-2">

        <div class="column">
      <script id="work-template" type="text/x-handlebars-template">
            <dl>
              <dt>Name</dt>
              <dd>{{name}}</dd>

              <dt>Type</dt>
              <dd>{{type}}</dd>

              <dt>Description</dt>
              <dd>{{description}}</dd>

              <dt>Features</dt>
              <dd>{{features}}</dd>

              <dt>GitHub</dt>
              <dd>{{github}}</dd>

              <dt>Url</dt>
              <dd>{{url}}</dd>
            </dl>

        </div>
        </script>
        </div>

        <div class="column">
          <h2>2nd Main Section</h2>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud</p>
        </div>

    </section>
    </div>
  </chunk>
<% end %>
