/* *************************************************************
GENERAL
************************************************************* */
* {
	outline: none;
}

/*wrap is used to keep the content stablized at any screen stablized*/
.wrap {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
}

/*margin- auto in 2nd pposition used to center content.*/
.button {
	font-family: 'Ubuntu';
}

/*dl{
  padding:0.3em;
}*/
.main {
	padding: 40px 0px;
	background-color: white;
}

h1,
h2,
h3 {
	color: #484848;
}

/* *************************************************************
OFF-CANVAS
************************************************************* */
.off-canvas-wrapper {
	background-color: #484848;
}

#mobile-menu {
	background-color: #484848;
}

#mobile-menu {
	padding: 12px;
}

#mobile-menu li {
	list-style: none;
}

#mobile-menu a {
	color: rgba(255, 255, 255, 0.6);
	font-weight: bold;
	line-height: 2
}

#mobile-menu a:hover {
	color: rgba(255, 255, 255, 0.8);
}

.js-off-canvas-exit {
	background: rgba(0, 0, 0, 0.5);
}

/* *************************************************************
NAV - MOBILE
************************************************************* */
.title-bar {
	background-color: #484848;
	height: 60px;
}

.title-bar-left {
	padding: 11px;
}

.mobile-site-logo {
	float: right;
	line-height: 44px;
	padding-right: 14px;
}

/* *************************************************************
NAV
************************************************************* */
.nav-desktop {
	background-color: #484848;
	height: 79px;
	padding: 0;
}

.site-logo>a {
	color: white;
	line-height: 80px;
}

.site-logo:hover {
	background-color: rgba(255, 255, 255, 0.1)
}

.nav-desktop .menu-desktop {
	line-height: 80px;
	background-color: transparent;
}

/*- definging two deep overrides fondation 2 deep styles  */
/*- transprent makes background clear, taking in the color behind it.*/
.menu>li>a {
	display: inline-block;
	line-height: 80px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: white;
}

.menu>li>a:hover {
	background-color: rgba(255, 255, 255, 0.1)
}

/* *************************************************************
HERO
************************************************************* */
.hero {
	background-color: #efefef;
	padding: 80px 0px;
}

.hero-content {
	max-width: 100%;
}

.hero-content>a {
	max-width: 100%;
	max-height: 100%;
}

/* *************INDEX PAGE*****************************************/
.hero-index, .hero-work {
	text-align: center;
	max-width: 100%;
	height: 700px;
}

.hero-index h1 {
	font-family: Helvetica, sans-serif;
}

.hero-index h3 {
	font-family: 'Open Sans', sans-serif;
}

.hero-index {
	background-image: url("/img/backgrounds/index.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.main-index {
	padding: 40px 0px;
}

.main-index>.icons>.icon {
	width: 100px;
	height: 100px;
}

.main-index .icons .icon>img {
	width: 100px;
	height: auto;
}

.top-skills-text-header, .secondary-skills-text-header {
	text-align: center;
}

.icon {
	margin-top: 30px;
}

icon img {
	display: flex;
	margin: auto;
}

.hero-index .button {
	background-color: rgba(0, 0, 0, .2);
	color: #000;
	width: 200px;
	margin-top: 25px;
}

/* move icons width */
@media (min-width: 700px) {
	.icons {
		max-width: 600px;
		margin: auto;
	}
}

/* work and index buttons */
@media (max-width: 639px) {
	.hero-index .button, .hero-work .button {
		font-size: 14px;
		width: 150px
	}
}

/* *************WORK PAGE*****************************************/
.hero-work h1, .hero-work h3 {
	text-align: center;
	color: #F5F5F5;
}

.hero-work .wrap,
.hero-index .wrap {
	position: relative;
	top: 100px
}

.hero-work {
	background:
		linear-gradient(rgba(0, 0, 0, 0.45),
		rgba(0, 0, 0, 0.45)),
		url("/img/backgrounds/work.jpg") center center / cover no-repeat;
}

.hero-work .button {
	background-color: rgba(0, 0, 0, .2);
	color: #F5F5F5;
	border: #F5F5F5 solid 1px;
	width: 200px;
	margin-top: 25px;
}

.project-image-container {
	position: relative;
}

.project-info-container {
	display: flex;
	visibility: hidden;
	transition: visibility 0s linear 0s, opacity 400ms;
	opacity: 0;
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 75px;
	align-items: center;
	justify-content: center;
}

.project-info-container h5 {
	text-align: center;
	color: white;
}

/* display child on parent hover */
.project-image-container:hover .project-info-container {
	opacity: 1;
	transition: visibility 0s linear 0s, opacity 400ms;
	visibility: visible;
}

.main-work {
	background-color: #f5f5f5;
}

#work-details {
	padding-bottom: 20px;
}

/* *************CONTACT*****************************************/
.main-contact p {
	margin: 10px;
}

.main-contact h2 {
	font-family: 'Open Sans';
}

.main-contact img {
	margin: 3em;
}

.hero-contact {
	text-align: center;
}

.hero-contact h3 {
	font-family: Helvetica;
}

/* *************RESUME*****************************************/
#resume-head {
	text-align: center;
}

.inpage-resume h3, h2, p {
	color: black;
}

#skills {
	margin-left: 10px;
}

.job, .school {
	padding: 10px 0;
}

/* *************************************************************
FOOTER
**********************************************
/**/
footer {
	background-color: #484848;
	height: 200px;
	padding: 0;
}

.top-footer-row {
	background-color: #484848;
	padding: 0px;
	height: 100px;
}

.icon img {
	height: 35px;
	display: block;
	margin: auto;
}

/*.top-footer-row h4{
  color: rgba(255, 255, 255, 0.8);
}
.bottom-footer-row a {
  color: rgba(255, 255, 255, 0.6);
}*/
/* .icon {
	max-height: 100%;
	margin-top: 30px;
	line-height: 10px;
}


.icon>a {
	height: 100%;
}

.icon:hover {
	background-color: rgba(255, 255, 255, 0.1)
} */
.bottom-footer-row a:hover {
	display: block;
	color: rgba(255, 255, 255, 0.8);
}

/*-hover will turn darker shade of white on hover*/
.bottom-footer-row {
	background-color: #222;
	height: 50px;
	display: block;
}

/* *************************************************************
MEDIA QUERY
************************************************************* */
@media (max-width: 639px) {
	.nav-desktop {
		display: none;
	}
}

/*This makes the navbar dissapear if the window is smaller the set above*/
/***********BUTTON WIDTHS MOBILE*******/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	.off-canvas-wrapper {
		height: 100%;
	}
}

@media (max-width: 400px) {
	.hero-index .button {
		width: 25%;
	}
}

@media (max-width: 400px) {
	.hero-blog .button {
		position: relative;
		left: 0%;
	}
}

@media (max-width: 400px) {
	.hero-about .button {
		width: initial;
	}
}

/***********BLOG HERO *******/
@media (max-width: 640px) {
	.hero-blog .column:first-child {
		padding: 0;
	}
}

/***********MOZART PIC*******/
/*@media (max-width: 450px){
    #mozart-box{
      width: 50%;
      margin: 0 auto;
    }
  }*/
/**************MAP PIC**********/
@media (max-width: 870px) and (min-width:551px) {
	.main-contact img {
		margin-top: 6em;
	}
}

@media (max-width:550px) {
	.main-contact img {
		margin: auto;
	}
}

/**************RESUME**********/
@media (max-width: 400px) {
	#resume-pdf {
		font-size: 2em;
	}
}

/*@media (max-width: 1200px) {
    .hero-resume h1{
      width: 100%;
    }
  }*/
/*@media (max-width: 875px) {
    .hero h1
    .hero h3
    .hero p {
      width: 100%;
    }
  }*/
/*makes these sections have a max width, at which they stop*/